{% extends "base.html" %}
{% block content %}
		<!-- Title -->
		<div class="container-fl p-4 vh-100 d-flex align-items-center justify-content-center flex-column">
			<div class="row p-5 d-flex align-items-center">
				<div class="col-sm">
					<img src="{{ url_for('static', filename='assets/img/thumbnail1.png') }}" class="img-fluid">
				</div>
				<div class="col-sm">
					<span class="fs-1 fw-bold text-red">Result Analysis WA Group Chat</span>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for i in hasil%}
			  <div class="col">
				<div class="card bg-secondary">
				  <div class="card-body">
					<h5 class="card-title">{{ i['nama'] }}</h5>
					<p class="card-text">
						<div class="progress">
						  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ i['hs'] }}%" aria-valuenow="{{ i['hs'] }}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="progress mt-1">
						  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ i['cb'] }}%" aria-valuenow="{{ i['cb'] }}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<div class="progress mt-1">
						  <div class="progress-bar bg-info" role="progressbar" style="width: {{ i['bb'] }}%" aria-valuenow="{{ i['bb'] }}" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</p>
				  </div>
				</div>
			  </div>
			{% endfor %}
			</div>
		</div>
{% endblock %}
