{% extends "base.html" %}
{% block content %}		
	<div class="container mt-5 pt-5">
		<div class="row pt-4 justify-content-center text-center">
			<div class="col-sm-6">
				<label class="fs-2 border-bottom border-5 fw-bold text-cyan">Tentang</label>
				<p class="mt-4 small">Mari sekarang berkenalan dengan anggota kelompok kami</p>
			</div>
		</div>
		<div class="row justify-content-center text-center mt-5">
			<div class="col-sm">
				<img src="{{ url_for('static', filename='assets/img/ahmadsaifulhuda.png') }}" style="height: 60%;"><br><br>
				<span class="fw-bold">Ahmad Saiful Huda</span><br>19102158
			</div>
			<div class="col-sm">
				<img src="{{ url_for('static', filename='assets/img/bayusetyaji.png') }}" style="height: 60%;"><br><br>
				<span class="fw-bold">Bayu Setyaji</span><br>19102157
			</div>
			<div class="col-sm">
				<img src="{{ url_for('static', filename='assets/img/widiafandi.png') }}" style="height: 60%;"><br><br>
				<span class="fw-bold">Widi Afandi</span><br>19102127
			</div>
		</div>
	</div>
{%  endblock %}
